<form class="form-horizontal" ng-submit="submit(sector)">
  <div class="form-group">
    <label for="sector_name" class="col-sm-2 control-label"><%= Sector.human_attribute_name(:name) %></label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="sector_name" ng-model="sector.name">
    </div>
  </div>
  <div class="form-group">
    <label for="sector_latitude" class="col-sm-2 control-label"><%= Sector.human_attribute_name(:latitude) %></label>
    <div class="col-sm-10">
      <input type="number" step="any" class="form-control" id="sector_latitude" ng-model="sector.latitude">
    </div>
  </div>
  <div class="form-group">
    <label for="sector_longitude" class="col-sm-2 control-label"><%= Sector.human_attribute_name(:longitude) %></label>
    <div class="col-sm-10">
      <input type="number" step="any" class="form-control" id="sector_longitude" ng-model="sector.longitude">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default"><%= I18n.t 'submit' %></button>
    </div>
  </div>
</form>
